<h3>Summary</h3>

<ul>
    <li>Number of Responses: <%= summary[:num_records] %> </li>
    <li>Mean(Capital Gains): <%= summary[:mean_cap_gains] %> </li>
    <li>Mean(Capital Losses): <%= summary[:mean_cap_losses] %> </li>
    <li>Distinct Professions: <%= summary[:unique_professions] %> </li>
</ul>